.card {
    width: 40%;
    height: 100%;
    margin-top: 4%;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
}

.card:hover{
    cursor: grab;
}

div {
    padding: 10px;
    margin: auto;
}

.wrapper {
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
}
